@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'MinecraftBold';
  src: url('/fonts/minecraft-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftRegular';
  src: url('/fonts/minecraft-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.minecraft-bold {
  font-family: 'MinecraftBold', sans-serif;
}

.minecraft-regular {
  font-family: 'MinecraftRegular', sans-serif;
}